[submodule "libQtQmlTricks"]
    path = libQtQmlTricks
    url = http://gitlab.unique-conception.org/qt-qml-tricks/ui-elements-ng.git
[submodule "RegionFlags"]
    path = RegionFlags
    url = https://github.com/behdad/region-flags.git
[submodule "TDLIB-lite"]
    path = TDLIB-lite
    url = ../../qt-libraries/tdlib-lite.git
